#databaseconnection
DBHOST=mongodb+srv://ResyBotAdmin:56759977976DAF7F95E49C08F18DB75381FDD1AF2391613ADCE7628E0E012802@cluster0.sensrx3.mongodb.net/ResyBotDataTest?retryWrites=true&w=majority

# keeping for now
API_BASE_URL=https://635740569243cf412f954e2c.mockapi.io/api/rb
REQUEST=/Requests
RESTAURANTS=/Restaurants
BOOKINGS=/Bookings
