.flex-container {
    background-color: beige;
    display: flex;
    justify-content: space-around;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.form-container {
    margin-top: 3%;
    margin-bottom: 3%;
}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    flex-direction: column;
}

h2 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    flex-direction: column;
}
