.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: #222;
    color: white;
    font-size: calc(10px + 0.5vmin)
  }