.header {
  background-color: #222;
  color: white;
  min-height: 105px;
  font-size: calc(15px + 0.5vmin);

}
/*logo size*/
img {
  position: relative;
  top: 10px;
  width: 150px;
  height: autopx;
}
