.login-header{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
.form-control{
    text-align: center;
    position: center;
    padding: 20px;
    margin-left: 10px;
    width: calc( 100% - 20px);
}

