.loginSignUpHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  min-height: 105px;
  font-size: calc(15px + 0.5vmin);
  border-bottom: 2px solid #d4d4d48a;
  z-index: 99;
}
  
  /*logo size*/
  img {
    position: relative;
    top: 10px;
    width: 150px;
    height: autopx;
  }
  