.makerequest {
    width: 800px;
    padding: 50px;
}

.requestpicture {
    width: 700px;
    height: 300px;
    margin-bottom: 10px;
}

.form-control{
    text-align: center;
    position: center;
    padding: 20px;
    margin-left: 10px;
    width: calc( 100% - 20px);
}
h1{
    font-family: 'Franklin Gothic Medium';
}
