.MyBookings {
text-align: left;
top: 10px;
left: 5000px;
position:relative;
font-family: 'Franklin Gothic Medium';
top:10px;
left:10px;
margin-left:30px;
margin-right:10px; 
}

.top{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
}
.boxControl{
    text-align: left;
    margin-left:25vw;
    background-color: white;
    border: 2px solid #d4d4d48a;
    width:50vw;
    padding: 5px;
    color: black;
}
.btn-primary{
    color: grey
}