.signUp-header {
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
.signUp-form{
    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium';
}
label {
    text-align: center;
    width: 800px;
    line-height: 26px;
    margin-bottom: 20px;
}